@CHARSET "ISO-8859-1";
body{
	margin:0;
	padding:0;
	background-color:#E6E6E6;
}

.panel{
	width:100%;
	height:8%;
	background-color:#A9BCF5;
}
.miperfil{
	position:relative;
	width:10%;
	height:90%;
	float:right;
	margin-top:5px;
}
.salir{
	float:left;
}
.salir:hover{
	color:white;
}
.cambiaperfil{
	width:100%;
	opacity:1;
}
.contenidoAlbumes, .amigos, .contenidoFotos, .muestraFoto, .contenidoExplorar, .perfil, .contenidoMuestraFoto, .albumPerfil{
	background-color:white;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(214,210,214,1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(214,210,214,1);
	box-shadow: 0px 1px 2px 0px rgba(214,210,214,1);
}
.album{
	position:relative;
	width:18%;
	height:auto;
	float:left;
	margin-left:3%;
	text-align:center;
}
.delete{
	width:10%;
	position:absolute;
	z-index:1;
	margin-left:90%;
}
.edit{
	width:10%;
	position:absolute;
	z-index:1;
	margin-left:90%;
	margin-top:12%;
}
.explorar{
	text-decoration:none;
	padding:5px;
	margin-left:2%;
	background-color:#A4A4A4;
	border-radius:10%;
}
.explorar:hover{
	color:white;
}
.contenido{
	/*margin-top:1%;*/
	height:auto;
	position:relative;
}

.foto_album{
	width:100%;
	border:1px solid white;
}
.fotoamigopanel{
	width:100%;
	border:1px solid white;
}
.contenedorAlbum{
	width:100%;
	height:100px;
	overflow:hidden;
}
.contenedorAlbumAnyadir{
	width:100%;
	height:100px;
	overflow:hidden;
}
.contenedorAlbumAnyadir:hover, .contenedorAlbum:hover, .foto_album:hover{
	opacity:0.6;
}

h4{
	margin:0;
	height:6%;
}

h3{
	margin-left:2%;
	display:inline-block;
	font-family: 'Slabo 27px', serif;
}

h2{
	margin:0;
	text-align:center;
	padding:1%;
	font-family: 'Slabo 27px', serif;
}

.contenidoAlbumes{
	display:inline-block;
	width:76%;
	height:auto;
	margin-left:1%;
}

.mifoto{
	position:relative;
	width:30%;
	float:left;
	margin-right:10px;
}
.mifoto > a > img{
	width:100%;
	/*height:100%;*/
	overflow:hidden;
}

img{
	width:100%;
	border-radius:2px;
}

.amigos{
	display:inline-block;
	width:20%;
	float:right;
	margin-right:1%;
}

.anyadirFoto{
	position:relative;
	width:100%;
	height:60%;
}

.fileFoto{
	width:100%;
	height:100%;
	opacity:0;
}

.arrastraFoto{
	position:absolute;
	height:100%;
}

.contenidoFotos{
	position:relative;
	width:100%;
	display:inline-block;
}

.foto{
	position:relative;
	width:17%;
	height:400px;
	float:left;
	margin-left:2%;
	text-align:center;
}

.muestraFoto{
	width:90%;
	margin:0 auto;
}
.contenidoMuestraFoto{
	position:relative;
	padding:2% 0;
	width:95%;
	height:auto;
	left:50%;
	margin-top:2%;
	margin-bottom:2%;
	margin-left:-47.5%;
}
.contenidoExplorar{
	padding-top:2%;
	display:inline-block;
	position:relative;
	width:100%;
}
.fotoExplorar{
	position:relative;
	width:14%;
	height:300px;
	float:left;
	margin-left:2%;
	text-align:center;
	float
}

a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:#A9BCF5;
}
.personas{
	position:relative;
	display:inline-block;
	width:100%;
	height:auto;
}
.fotoperfil{
	display:block;
	position:relative;
	width:5%;
	float:left;
	margin-left:1%;
}
.fotoamigo{
	display:block;
	position:relative;
	width:25%;
	float:left;
	margin-left:1%;
}

.fotoUsuario{
	position:relative;
	width:80%;
	left:50%;
	margin-left:-40%;
	border:1px solid white;
}

.perfil{
	margin-left:2%;
	position:relative;
	display:inline-block;
	float:left;
	width:15%;
	margin-top:1%;
	padding:2% 0;
}
span{
	display:block;
	text-align:center;
}

.albumPerfil{
	position:relative;
	float:left;
	width:80%;
	margin-top:1%;
	margin-left:1%;
}