@CHARSET "UTF-8";
/*******************************General*********************************************/
body {
	margin: 0;
	padding: 0;
	font-family:'Roboto', 'Museo Sans' !important;
	font-size: 10px;
}
#header {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 50px;
	background-color: #a0c2cb;
	border-bottom: 1px solid rgb(153, 151, 151);
	z-index: 1000;
}
.content-menu {
	position: relative;
	width: 700px;
	display: inline-block;
	height: 100%;
	left: 50%;
	margin-left: -350px;
}
.content-logo {
	position: absolute;
	height: 48px;
	float: left;
	padding: 0 20px;
}
.content-log-out {
	/*position: absolute;*/
	height: 48px;
	float: right;
	padding: 0 20px;
}
.content-log-out > span {
	position: relative;
	font-size: 22px;
	top: calc(50% - 12px);
	cursor: pointer;
}
.content-logo > span {
	position: relative;
	font-size: 22px;
	top: calc(50% - 12px);
}
.content-menu-support, .content-menu-faq, .content-menu-about, .content-menu-articles, .content-menu-software {
	position: relative;
	height: 48px;
	float: left;
	padding: 0 20px;
}
.content-menu-support:hover, .content-menu-faq:hover, .content-menu-about:hover, .content-menu-articles:hover, .content-menu-software:hover {
	color: white;
}
.menu-support, .menu-landing {
	position: absolute;
	width: 100%;
	height: 50px;
	left: 0;
	z-index: 100;
}
.content-menu-support > span, .content-menu-faq > span, .content-menu-about > span, .content-menu-articles > span, .content-menu-software > span {
	position: relative;
	font-size: 22px;
	top: calc(50% - 12px);
}
.support-span, .faq-span, .about-span, .software-span, .articles-span {
	position: relative !important;
	margin-left: 2px;
	font-size: 16px !important;
	top: calc(50% - 16px) !important;
}
.red {
	color: red !important;
}
.back-red {
	background-color: red !important;
}
h4, h3, h2, h1 {
	text-align: center;
}
.contenido {
	height: calc(100% - 50px);
}
.content-all-images {
	position: absolute;
	width: 100%;
	height: 100%;
}
.contenido {
	height: 90%;
	text-align: center;
}
.fullpage {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
}
#section1 {
	background-image: url(/proyectoDAW/web/images/man-1191845_1280.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}
#section2 {
	/*background-image: url(/proyectoDAW/web/images/workstation-405768_1280.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;*/
}
#section3 {
	/*background-image: url(/proyectoDAW/web/images/startup-593299_1280.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	background-color: rgb(89, 89, 89);
	/*width: 100%;
	height: 100%;*/
}
.content-section-1 {
	padding-top: 70px;
	position: relative;
	text-align: center;
	width: 50%;
	left: 50%;
	margin-left: -25%;
}
.content-section-1 > h2 {
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-weight: lighter;
}
.content-section-1 > div {
	color: white;
	font-size: 16px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-weight: normal;
}
.content-section-2 {
	padding-top: 70px;
	position: relative;
	text-align: center;
}
.content-section-2 > h2 {
	color: black;
	font-weight: lighter;
}
.content-plans {
	width: 70%;
	margin-top: 5%;
	position: relative;
	left: 50%;
	margin-left: -35%;
	height: auto;
}
.individual-plan, .bussines-plan, .student-plan {
	position: relative;
	width: 33%;
	display: inline-table;
	padding: 0 15px;
}
.individual-plan > i, .bussines-plan > i, .student-plan > i {
	font-size: 44px;
	color: rgb(133, 131, 130);
}
.individual-plan > h4, .bussines-plan > h4, .student-plan > h4 {
	font-weight: bold;
	color: black;
}
.individual-plan > div > span, .bussines-plan > div > span, .student-plan > div > span {
	font-size: 25px;
	color: black;
	font-weight: 500;
}
.button-select-plan {
	display: inline-block;
	margin-top: 4%;
	position: relative;
	text-align: center;
	padding: 5px 10px;
	background-color: rgb(73, 158, 221);
	border-radius: 50px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}
.content-section-3 {
	padding-top: 70px;
	position: relative;
	text-align: center;
}
.description-software {
	position: relative;
	width: 50%;
	left: 50%;
	margin-left: -25%;
}
.content-examples {
	width: 70%;
	margin-top: 5%;
	position: relative;
	left: 50%;
	margin-left: -35%;
	height: auto;
}
.content-section-3 > h2 {
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-weight: lighter;
}
.description-software {
	color: white;
	font-size: 16px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-weight: normal;
}
.content-example {
	float: left;
	display: inline-block;
	margin: 0 2%;
	width: 20.5%;
}
.example-img {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 150px;
	background-color: red;
}
.example-info {
	margin-top: 10px;
	color: white;
}
.content-support-page {
	padding-top: 70px;
	position: relative;
	text-align: center;
	width: 50%;
	left: 50%;
	margin-left: -25%;
}
.content-support-page > h2 {
	color: rgb(17, 17, 17);
	/*text-shadow: 0 1px 1px rgba(0,0,0,.5);*/
	font-weight: lighter;
}
.content-support-page > div {
	color: rgb(37, 37, 37);
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}
.content-support-page > a {
	margin-top: 10px;
}
.icon-support {
	margin-top: 10%;
	display:block !important;
	font-size: 60px !important;
	color: rgb(91, 90, 90);
}
.subtitle-support {
	margin: 15px 0;
	font-size: 30px !important;
	font-weight: lighter !important;
	color: rgb(91, 90, 90);
}
/*******************************End General*********************************************/

/*************************General Log and Register**************************************/
.password-text-log, .user-text-log,.password-text-reg, .user-text-reg, .rep-password-text-reg, .email-text-reg {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
}
.password-text-log:focus, .user-text-log:focus,.password-text-reg:focus, .user-text-reg:focus, .email-text-reg:focus, .rep-password-text-reg:focus {
	border: 1px solid #77caff !important;
	outline: none !important;
}
.disabled {
	color: white !important;
	background-color: rgb(176, 176, 176) !important;
}
.log-support, .reg-support {
	border-radius: 2px !important;
	display: block;
	/*width: 200px;*/
	width: 100%;
	height: 42px;
	position: relative;
	/*left: 50%;*/
	/*margin-left: -100px;*/
	border: none;
	color: white;
	background-color: rgb(73, 158, 221);
}
.log-support:hover, .reg-support:hover {
	background-color: rgb(61, 133, 186);
}
/*************************End General Log and Register***********************************/

/*********************************LogSupport*********************************************/
.ul-login {
	font-size: 10px;
}
.content-support {
	width: 350px;
	position: relative;
	left: 50%;
	margin-left: -175px;
}
.user-text-log, .password-text-log, .user-text-reg, .password-text-reg, .rep-password-text-reg, .email-text-reg {
	display: block;
	position: relative;
	width: 100%;
	/*left: 50%;
	margin-left: -100px;*/
}
.content-log-support {
	padding-top: 70px;
	position: relative;
	text-align: center;
	width: 50%;
	left: 50%;
	margin-left: -25%;
}
.content-log-support > h2 {
	color: rgb(17, 17, 17);
	/*text-shadow: 0 1px 1px rgba(0,0,0,.5);*/
	font-weight: lighter;
}
.content-log-support > h4 {
	margin-top: 25px;
	margin-bottom: 15px;
}
.content-log-support > div {
	color: rgb(37, 37, 37);
	font-weight: normal;
	margin-bottom: 10px;
}
.content-log-support > a {
	margin-top: 10px;
}
/*******************************End LogSupport********************************************/

/*********************************RegSupport**********************************************/

/*******************************End RegSupport********************************************/

/*********************************ContactSupport**********************************************/
.content-contact-support {
	background-image:linear-gradient(to bottom, rgba(78, 75, 75, 0.3) 0%,rgba(78, 75, 75, 0.3) 100%), url(/../web/images/workspace-766045_1280.jpg);
	background-size: cover;
	width: 100%;
	padding-top: 70px;
	height: 100%;
	color: white;
	text-shadow: 0px 1px grey;
}
.title-offline-contact {
	display: block;
	margin-top: 10px;
}
.textarea-message-text {
	resize: none;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
}
.textarea-message-text:focus {
	border: 1px solid #77caff !important;
	outline: none !important;
}
.email-text, .subject-text {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
}
.email-text:focus, .subject-text:focus {
	border: 1px solid #77caff !important;
	outline: none !important;
}
.offline-contact {
	margin-top: 30px;
	position: relative;
	cursor: pointer;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	height: 42px;
	background-color: rgb(73, 158, 221);
	border-radius: 2px;
	text-align: center;
}
.offline-contact:hover {
	background-color: rgb(61, 133, 186);
}
.offline-contact > span {
	color: white;
	position: relative;
	top: calc(50% - 12px);
}
.content-of-chat {
	width: 700px;
	position: relative;
	margin-top: 50px;
	left: 50%;
	margin-left: -350px;
}
.message-contact-text {
	font-size: 24px;
}
.online-offline-text {
	margin-top: 35px;
	margin-bottom: 20px;
	font-size: 18px;
}
.enter-room {
	width: 200px;
	height: 42px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	z-index: 1;
}
.btn-enter-room {
	width: 200px;
	height: 42px;
	position: relative;
	left: 50%;
	margin-left: -100px;
	color: white;
	background-color: #4CAF50;
	text-align: center;
	border-radius: 2px;
}
.enter-room:hover ~ .btn-enter-room {
	background-color: #3f8f42;
}
.span-enter-room {
	position: relative;
	top: calc(50% - 12px);
}
.content-of-offline-contact {
	width: 700px;
	position: relative;
	left: 50%;
	margin-left: -350px;
}
.error-message {
	position: relative;
	top: -85px;
}
.offline-contact-submit {
	border-radius: 2px !important;
	display: block;
	margin-top: 15px;
	padding: 0 20px;
	height: 42px;
	position: relative;
	left: 45%;
	border: none;
	color: white;
	background-color: rgb(73, 158, 221);
}
.offline-contact-submit:hover {
	background-color: rgb(61, 133, 186);
}
/***************************************End ContactSupport*********************************************/

/*******************************************StaffRoom*************************************************/
.content-staff-room {
	position: absolute;
	width: 100%;
	padding-top: 50px;
	height: 100%;
	background-image: url(/../web/images/man-1191845_1280.jpg);
	background-size: cover;
}
.content-recent-conversations {
	position: relative;
	float: left;
	display: inline-block;
	width: 25%;
	height: 100%;
	background-color: #EEE;
	margin-left: 10%;
}
.content-conversation {
	position: relative;
	float: left;
	display: inline-block;
	width: 55%;
	height: 100%;
}
.information-header-chat {
	width: 100%;
	background-color: white;
	height: 10%;
}
.img-profile-header-chat {
	width: 10%;
	height: 100%;
	position: relative;
	display: inline-block;
}
.colum-chat {
	background-color: rgba(178, 178, 178, 0.6);
	width: 100%;
  height: 80%;
  overflow: auto;
  padding-bottom: 20px;
}
.content-chat {
	background-color: #E9EFF0;
	position: relative;
	height: 10%;
}
.input-chat {
  /*padding-left: 10px;*/
	position: relative !important;
	display: inline-block !important;
  font-weight: bold;
	float: left;
	background-color: white;
	border-radius: 3px;
	background-image: none;
	margin-left: 10px;
	resize: none;
	width: 60% !important;
	top: calc(50% - 17px) !important;
}
.btn-send {
	position: relative;
	float: left;
	margin-left: 24px;
	top: calc(50% - 12px) !important;
	cursor: pointer;
}
.black-t04 {
	color: rgba(0,0,0,0.4);
}
.btn-send-color:hover {
	color: rgba(0,0,0,0.6);
}
.input-chat::-webkit-input-placeholder {
    font-weight: bold;
}
.input-chat:-moz-placeholder {
    font-weight: bold;
}
.input-chat:-ms-input-placeholder {
    font-weight: bold;
}
.conversation {
	width: 100%;
	height: 10%;
	padding: 0;
	background-color: white;
	border-bottom:1px solid #333;
}
.con-name-label {
	margin-left: 10px;
	font-weight: bold;
	float: left;
}
.con-message-label {
margin-left: 10px;
color: rgba(0,0,0,0.4) !important;
float: left;
}
.conversation:hover {
	background-color: #FBFBFB;
}
.con-left-img {
	position: relative;
	float: left;
	display: inline-block;
	width: 25%;
	height: 100%;
	background-image: url(/../web/images/blank-profile.png);
	background-position: center;
	border-radius: 50%;
}
.con-name-message {
	position: relative;
	float: left;
	display: inline-block;
	width: 60%;
	height: 100%;
	text-align: center;
	border: 1px solid black;
}
.con-right-date {
	position: relative;
	float: left;
	display: inline-block;
	width: 13%;
	height: 100%;
	border-color: 1px solid black;
}
.date {

}
.conv-accepted {
	height: 10%;
	position: absolute;
	width: 100%;
	color: red;
	font-size: 22px;
	text-align: center;
	padding-top:5%;
}
/*********************************End StaffRoom**********************************************/

/*********************************UserRoom**********************************************/
.content-user-room {
	position: absolute;
	width: 100%;
	padding-top: 50px;
	height: 100%;
	background-image: url(/../web/images/man-1191845_1280.jpg);
	background-size: cover;
}
.show-indication {
	text-align: center;
	height: 100%;
}
.show-indication > span {
	position: relative;
	top: calc(50% - 10px);
}
span.speech {
	margin-top: 10px;
	margin-right:10px;
  position: relative;
  max-width:70%;
  min-width:30%;
	word-break: break-word;
  float: right;
  padding: 10px;
  background-color: #F2FCFB;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0.3) !important;
}
span.speech:before {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
  right: -13px;
  bottom: 2px;
	border: 8px solid;
  border-color: rgba(0,0,0,0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #F2FCFB;
}
span.speech-other {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0.3) !important;
	margin-top:10px;
	margin-left:10px;
	position: relative;
	max-width: 70%;
  min-width: 30%;
  word-break: break-word;
	float:left;
	padding: 10px;
	background-color: #FFFFFF;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
span.speech-other:before {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
  left: -13px;
  bottom: 2px;
	border: 8px solid;
	border-color: rgba(0,0,0,0) #FFFFFF rgba(0,0,0,0) rgba(0,0,0,0);
}
.timestamp {
	position: absolute;
  right: 5px;
  font-size: 11px !important;
  bottom: 1px;
}
.chat-check {
	font-size: 14px !important;
	float: left;
	margin-right: 2px;
}
.rm-chat {
	font-size: 12px !important;
	color: rgb(49, 50, 50);
	float:right;
	cursor: pointer;
}
.rm-chat:hover {
	color: black;
}
/*********************************End UserRoom**********************************************/
